button {
  width: 300px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 8px;
  box-shadow: 3px;
  border: none;
 
  

}

* {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}



img {
  height: 700px;
  width: 600px;
}
.align {
  align-items: end;
  grid-column: 2;
  grid-row: 3;
  
}

body {
  
  
  max-height: 500px;
}

.grid {
  display: grid;
  
  grid-template-rows: 1fr 500px 1fr;
  grid-template-rows: 100px;
  gap:20px;
  
  
}

.grid p {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

.buttons {
  
  margin-top: 50px;
  grid-column: 2;
  grid-row: 2;
  align-content: center;
}


.buttons button {
  margin-left: 30px;
}


.produto {
 
  text-align: center;
}


@media screen and (max-width: 500px) {
  button {
    
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 3px;
    border: none;
    margin-top: 10px;
   
    
  
  }

  img {
    width: 80%;
    height: 500px;
  }
}
